
#list{
    width:500px;
    min-height: 200px;
    border: 1px solid red;
    resize: both;
    overflow: auto;
}
#list-title{
    height: 20px;
    width: 280px;
    background-color: beige
}
#list-title:hover{
    background-color: brown;
}

#list-title:hover{
    background-color: brown;
}

#list-content{
    height: 200px;
    width: 280px;
    display: none;
    background-color:red
}